<h1>Lista de Artistas</h1>
{{>_msg}}
{{#each artistas}}
<h1>{{nome}}</h1>
<p>{{idade}}</p>
<p>{{anoDeCarreira}}</p>
<a href="/artistas/edit/{{_id}}"><button class="botao-editar">Editar usuário</button></a>
{{/each}}
