<form class="row g-3">
  <div class="col-auto">
    <label for="nome" class="visually-hidden">Nome</label>
    <input type="text" readonly class="form-control-plaintext" id="nome" name="nome" placeholder="Nome">
  </div>
  <div class="col-auto">
    <label for="idade" class="visually-hidden">Idade</label>
    <input type="text" class="form-control" id="idade" name="idade" placeholder="Idade">
  </div>
  <div class="col-auto">
    <label for="anoDeCarreira" class="visually-hidden">Tempo profissional</label>
    <input type="text" class="form-control" id="anoDeCarreira" name="anoDeCarreira" placeholder="Ano de carreira">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Cadastrar</button>
  </div>
</form>